{% extends 'base.html' %}{% block content %}
<h1>Login</h1>
<form action="" method="POST">
    {% csrf_token %}
    <label for="username">帳號</label>
    <input type="text" name="username" id="username"><br>
    <label for="password">密碼</label>
    <input type="password" name="password" id="password"><br>

    <p>
        <input type="submit" name="login" value="登入">
        <input type="submit" name="register" value="註冊">
        <input type="reset" value="清除">
    </p>
    <p>{{message}}</p>

</form>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Login</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">帳號</label>
        <input type="text" name="username" id="username"><br>
        <label for="password">密碼</label>
        <input type="password" name="password" id="password"><br>

        <p>
            <input type="submit" name="login" value="登入">
            <input type="submit" name="register" value="註冊">
            <input type="reset" value="清除">
        </p>
        <p>{{message}}</p>

    </form>
</body>

</html> -->