{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- <img src="{% static 'images/brand.png' %}" alt="" width="30px"> -->
    <a href="{% url 'todo' %}"><img src="{% static 'images/brand.png' %}" alt="" width="30px"></a>
    {% if user.is_authenticated %}
    Login:
    <a href="{% url 'profile' %}">{{user.username}}</a>
    <a href="{% url 'logout' %}">登出</a>
    <a href="{% url 'create' %}">建立todo</a>
    <a href="{% url 'completed' %}">已完成todo</a>
    {% else %}
    <a href="{% url 'login' %}">登入</a>
    <a href="{% url 'register' %}">註冊</a>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>

</html>